body {
  /* Move down content because we have a fixed navbar that is 50px tall. */
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
    background-color: #0c0c56;
}

.navbar-header .navbar-brand {
    color: #FFFFFF;
}

.navbar-brand {
    padding: 0px;
}

.jumbotron {
    background-color: #d4d4e3;
    text-align: center;
}

.jumbotron h1 {
    color: #5AC75A;
}

.jumbotron p {
    color: #63af44;
}

.ag h2 {
    color: #004000;
}

.ag .video {
    margin-top: 50px;
    padding-top: 50px;
    text-align: center;
}

footer {
    text-align: center;
}
